<!DOCTYPE html>
<html>
	<head>
		<title>{{ page_title }}</title>
	</head>
	<body>
		<h1>{{ page_title }}</h1>

		<div>
			<form method="post" action="/age">
				<input type="text" name="name" placeholder="Введите имя пользователя">
				<button type="submit">Получить возраст</button>
			</form>


			{% if age %}
				По выбранному имени (
				{% if name %}
					{{ name }}
				{% endif %}) возраст составляет:
				{{ age }}
				лет.
			{% endif %}
		</div>


	</body>
</html>
